.body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.header {
    background-color: rgb(0, 212, 85);
    width: 100%;
    height: 100px;
}

.header-barra-informacion {
    background-color: rgb(15, 83, 143);
    width: 100%;
    height: 30px;
}

.header-barra-botones {
    background-color: aquamarine;
    width: 100%;
    height: 68px;
    display: inline-flex;
    justify-content: space-between;
}

.header-group-btn {
    background-color: bisque;
    width: auto;
    height: auto;
}

.header-btn {
    width: auto;
    height: 100%;
}