<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>

    <th:block th:fragment="main">
        <main class="main">
            <div class="container" style="margin-top: 7rem; margin-bottom: 5rem;">
                <h2 class="text-center mb-4">Recuperar Contraseña</h2>
                <form action="/recuperar" method="post" class="mx-auto" style="max-width: 400px;">
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="email" name="email"
                            placeholder="correo@dominio.com" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Enviar enlace de recuperación</button>
                    <div class="mt-3 text-center">
                        <a th:href="@{/login}">Volver al inicio de sesión</a>

                    
                    </div>
                </form>
            </div>
        </main>
    </th:block>

</body>

</html>